@font-face {
  font-family: 'Red Hat Display';
  src: url('./assets/fonts/static/RedHatText-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Red Hat Display Bold';
  src: url('./assets/fonts/static/RedHatText-Bold.ttf');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Red Hat Display', sans-serif;
}